In [21]:
import pandas as pd
import numpy as np
import os

In [22]:
dir = './Dataset/Approved Investments.csv'

ai_df = pd.read_csv(dir, skiprows=2)
ai_df.head()

,Country,2020 Q1,2020 Q2,2020 Q3,2020 Q4,2021 Q1,2021 Q2,2021 Q3,2021 Q4,2022 Q1,...,2022 Q3,2022 Q4,2023 Q1,2023 Q2,2023 Q3,2023 Q4,2024 Q1,2024 Q2,2024 Q3,2024 Q4
0,Australia,186.9,133.6,164.3,85.3,43.61,284.50,161.80,174.41,220.45,...,120.31,96.25,449.85,116.04,357.61,93.10,2976.01,121.98,151.15,485.33
1,British Virgin Islands,110.1,0.0,249.2,0.0,0.00,0.00,698.32,0.00,220.38,...,524.12,2138.45,15.81,200.54,926.51,2257.94,0.73,397.53,847.97,822.26
2,Canada,205.0,0.0,8.6,29.2,14.41,0.04,0.00,357.75,5.31,...,19.69,14.02,18.24,2.83,215.50,0.92,45.84,7.96,13.82,77.13
3,Cayman Islands,428.5,0.0,0.0,0.0,1136.77,0.00,0.00,251.80,0.00,...,2.39,21.19,0.00,11633.02,0.00,0.00,8880.91,0.00,161.17,258.59
4,China (PROC),5042.0,69.7,9582.6,902.0,399.05,678.24,349.65,717.08,182.53,...,579.57,253.77,291.78,223.67,1845.55,4416.88,370.39,562.14,661.33,836.10

In [23]:
ai_df.shape

(20, 21)

In [24]:
ai_df

,Country,2020 Q1,2020 Q2,2020 Q3,2020 Q4,2021 Q1,2021 Q2,2021 Q3,2021 Q4,2022 Q1,...,2022 Q3,2022 Q4,2023 Q1,2023 Q2,2023 Q3,2023 Q4,2024 Q1,2024 Q2,2024 Q3,2024 Q4
0,Australia,186.9,133.6,164.3,85.3,43.61,284.50,161.80,174.41,220.45,...,120.31,96.25,449.85,116.04,357.61,93.10,2976.01,121.98,151.15,485.33
1,British Virgin Islands,110.1,0.0,249.2,0.0,0.00,0.00,698.32,0.00,220.38,...,524.12,2138.45,15.81,200.54,926.51,2257.94,0.73,397.53,847.97,822.26
2,Canada,205.0,0.0,8.6,29.2,14.41,0.04,0.00,357.75,5.31,...,19.69,14.02,18.24,2.83,215.50,0.92,45.84,7.96,13.82,77.13
3,Cayman Islands,428.5,0.0,0.0,0.0,1136.77,0.00,0.00,251.80,0.00,...,2.39,21.19,0.00,11633.02,0.00,0.00,8880.91,0.00,161.17,258.59
4,China (PROC),5042.0,69.7,9582.6,902.0,399.05,678.24,349.65,717.08,182.53,...,579.57,253.77,291.78,223.67,1845.55,4416.88,370.39,562.14,661.33,836.10
5,Denmark,0.0,0.0,0.0,0.0,0.00,0.00,9.29,204.35,4.00,...,0.00,0.00,0.00,0.00,0.00,0.09,94.24,0.00,0.00,0.00
6,France,1513.8,3.9,3.7,148.4,56.84,0.00,0.00,0.01,0.00,...,0.43,0.03,44.00,2051.80,4.15,9.90,2.25,0.00,13.95,0.00
7,Germany,118.7,0.0,617.2,27.5,407.40,0.64,579.56,0.04,0.00,...,42.16,30.80,392401.04,1142.77,4.16,443.34,0.05,192.92,61.62,98.20
8,Hongkong,1.0,69.4,19.8,210.3,146.81,53.72,2.59,0.00,7.10,...,188.18,317.39,0.00,375.70,49.83,585.14,1514.99,271.67,140.19,1150.81
9,India,324.9,3.9,0.0,690.6,34.05,25.03,36.50,0.00,0.00,...,1109.92,524.51,16.26,131.74,86.56,353.25,32.27,398.20,93.66,41.28
10,Japan,1274.3,514.4,3306.7,4280.7,10716.55,1145.97,11163.38,1443.01,3561.42,...,4502.54,37408.83,3824.44,20356.10,1920.76,31370.59,920.93,7675.69,15960.66,4108.10
11,South Korea,2131.3,150.7,5.4,1871.0,798.29,2253.48,14.64,147.16,1663.30,...,2024.43,374.64,135.44,1333.39,5.51,41.97,20232.84,96.28,53849.65,26158.45
12,Malaysia,635.3,0.0,0.0,2.5,0.00,507.80,0.01,0.00,0.00,...,53.24,0.00,0.10,199.20,217.52,315.70,3.63,4532.54,4.22,93.04
13,Netherlands,1950.6,1853.4,556.7,2441.0,78.11,725.97,1555.85,24541.36,51.34,...,580.36,992.34,2651.43,1326.19,194.23,345760.84,38887.91,851.45,1292.87,9189.34
14,Singapore,1878.2,1092.8,2743.9,4277.9,85.45,276.35,504.79,79301.96,1634.70,...,1643.53,111466.26,1830.71,17652.76,13044.88,4988.78,7287.18,229.19,1203.64,3409.03
15,Switzerland,0.0,0.0,0.0,28.6,95.86,0.00,0.00,97.58,585.96,...,3.20,1.40,0.00,0.00,37.52,0.00,62889.91,172041.76,51835.92,2296.85
16,Taiwan,1149.6,341.4,518.5,4396.8,169.85,454.99,502.61,66.51,66.68,...,3.85,776.21,222.93,98.61,3632.47,124.18,1386.00,136.70,551.87,438.81
17,Thailand,100.0,0.0,0.0,14.6,8.26,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,1027.39,174.11,76.15,35.40,3027.93
18,UK,6145.8,2033.4,4759.8,137.2,470.09,12516.73,8.36,379.95,0.72,...,224.99,10222.09,293.08,348.84,3198.84,286.09,1455.73,146.49,1276.00,134.18
19,USA,5742.0,9079.1,7154.9,13396.4,322.32,2127.01,224.28,1150.31,291.99,...,663.39,3260.16,1796.65,965.01,704.23,1825.09,1175.69,1248.62,1644.97,1629.89

In [25]:
ai_df = ai_df.melt('Country')
ai_df.columns = ['Country', 'Quarter', 'Investment']

In [26]:
ai_df.head()

                  Country  Quarter  Investment
0               Australia  2020 Q1       186.9
1  British Virgin Islands  2020 Q1       110.1
2                  Canada  2020 Q1       205.0
3          Cayman Islands  2020 Q1       428.5
4            China (PROC)  2020 Q1      5042.0

In [28]:
ai_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     400 non-null    object
 1   Quarter     400 non-null    object
 2   Investment  400 non-null    float64
dtypes: float64(1), object(2)
memory usage: 9.5+ KB

In [29]:
ai_df.describe()

          Investment
count     400.000000
mean     4764.332100
std     28827.056239
min         0.000000
25%         3.975000
50%       187.540000
75%      1138.270000
max    392401.040000

In [19]:
def get_second_value(val):
    return val.split()[1]

ai_df['Quarter'] = ai_df['Quarter'].apply(get_second_value)

In [ ]:
from matplotlib import pyplot as plt
import ipywidgets as widgets
from ipywidgets import interact

def plot(country):
    filtered = ai_df[ai_df['Country'] == country]
    plt.plot(filtered['Quarter'], filtered['Investment'])
    plt.show()

countries = list(ai_df['Country'].unique())

x = widgets.Dropdown(options=countries)

interact(plot, country=x)

interactive(children=(Dropdown(description='country', options=('Australia', 'British Virgin Islands', 'Canada'â€¦