In [2]:
import pandas as pd
import os
import numpy as np

In [3]:
dir = './Dataset/'
volume_ds = 'Aquaculture Volume of Production by Species, Geolocation, Year and Quarter.csv'
value_ds = 'Aquaculture Value of Production by Species, Geolocation, Year and Quarter.csv'

In [5]:
volume_df = pd.read_csv(f'{dir}{volume_ds}', skiprows=2)
volume_df.head()

,Species,Geolocation,2020 Quarter 1,2020 Quarter 2,2020 Quarter 3,2020 Quarter 4,2021 Quarter 1,2021 Quarter 2,2021 Quarter 3,2021 Quarter 4,...,2022 Quarter 3,2022 Quarter 4,2023 Quarter 1,2023 Quarter 2,2023 Quarter 3,2023 Quarter 4,2024 Quarter 1,2024 Quarter 2,2024 Quarter 3,2024 Quarter 4
0,All Species,..National Capital Region (NCR),250.84,173.13,704.16,9.79,120.30,202.76,407.66,53.25,...,417.54,441.13,645.99,1070.29,756.30,342.91,318.32,966.50,522.04,121.35
1,All Species,..Cordillera Administrative Region (CAR),703.32,657.13,602.62,796.91,841.41,845.93,692.55,1058.62,...,835.39,813.45,728.97,947.45,603.71,661.67,843.57,672.18,803.34,895.92
2,All Species,..Region I (Ilocos Region),27212.01,28033.82,20562.67,70587.18,27449.49,33321.23,25196.25,70151.75,...,30958.20,71668.12,25874.87,39569.70,28319.94,70581.84,23819.94,38305.78,28513.12,69213.66
3,All Species,..Region II (Cagayan Valley),2073.65,4977.96,3331.42,2938.08,2088.81,5365.73,3443.46,3135.44,...,3981.49,3045.96,2191.20,6415.65,4209.86,3137.27,2610.20,5047.21,4567.90,2631.41
4,All Species,..Region III (Central Luzon),74439.96,122128.99,29542.09,62940.50,79350.56,118902.20,30325.21,70490.25,...,33066.28,71157.22,94444.91,86528.76,46514.69,72161.02,104030.72,82102.63,39751.11,74445.00

In [7]:
volume_df = volume_df.melt(['Species', 'Geolocation'], var_name="Year-Quarter", value_name="Volume", ignore_index=True)

In [6]:
value_df = pd.read_csv(f'{dir}{value_ds}', skiprows=2)
value_df.head()

,Species,Geolocation,2020 Quarter 1,2020 Quarter 2,2020 Quarter 3,2020 Quarter 4,2021 Quarter 1,2021 Quarter 2,2021 Quarter 3,2021 Quarter 4,...,2022 Quarter 3,2022 Quarter 4,2023 Quarter 1,2023 Quarter 2,2023 Quarter 3,2023 Quarter 4,2024 Quarter 1,2024 Quarter 2,2024 Quarter 3,2024 Quarter 4
0,All Species,..National Capital Region (NCR),10190.23,7107.16,31109.24,690.61,5612.63,13116.33,25643.24,3145.26,...,25025.90,25705.39,45180.57,82414.05,53537.64,20412.98,17456.54,55008.25,28303.01,6722.96
1,All Species,..Cordillera Administrative Region (CAR),72535.13,71605.89,63179.79,83469.73,86797.81,86806.70,73271.87,96993.03,...,89126.50,95616.17,82654.88,110723.10,74849.87,85026.09,94935.26,81611.16,93064.73,111993.23
2,All Species,..Region I (Ilocos Region),3062615.94,2935063.73,2277160.92,8225306.14,3318099.54,3627335.60,3055883.81,9651054.24,...,4008946.21,8536942.72,3815418.54,5166955.22,4418993.45,9226910.19,3557411.46,4276436.66,3798706.51,9894699.27
3,All Species,..Region II (Cagayan Valley),213501.70,673595.33,465509.14,512671.28,224298.32,709289.25,449045.07,569854.45,...,706846.76,573447.57,368371.15,1013956.41,754175.87,628779.78,435131.55,860602.55,808622.41,460937.65
4,All Species,..Region III (Central Luzon),9137119.99,14120277.00,4624628.78,10242874.70,10120596.51,14887526.14,5105722.25,11782029.78,...,4413429.04,11983872.94,13183639.32,13028333.57,6870963.18,14298248.00,14127397.93,9265737.61,5510636.98,13398491.78

In [8]:
value_df = value_df.melt(['Species', 'Geolocation'], var_name="Year-Quarter", value_name="Value", ignore_index=True)

In [10]:
merged_df = volume_df.copy()
merged_df = pd.merge(merged_df, value_df, on=['Species', 'Geolocation', 'Year-Quarter'], how='inner')
merged_df.head()

,Species,Geolocation,Year-Quarter,Volume,Value
0,All Species,..National Capital Region (NCR),2020 Quarter 1,250.84,10190.23
1,All Species,..Cordillera Administrative Region (CAR),2020 Quarter 1,703.32,72535.13
2,All Species,..Region I (Ilocos Region),2020 Quarter 1,27212.01,3062615.94
3,All Species,..Region II (Cagayan Valley),2020 Quarter 1,2073.65,213501.70
4,All Species,..Region III (Central Luzon),2020 Quarter 1,74439.96,9137119.99

In [11]:
merged_df.shape

(6800, 5)

In [12]:
merged_df.to_csv('Aquaculture Value and Volume of Production - Merged CSV.csv')