In [5]:
import pandas as pd
import numpy as np
import os
import ipywidgets as widgets
from matplotlib import pyplot as plt
from ipywidgets import interact

In [7]:
farmgate = './Dataset/Fruits Farmgate Prices by Commodity, by Region and by Province, Monthly, 2010-2024.csv'
retail = './Dataset/Fruits Retail Prices of Agricultural Commodities by Geolocation, Commodity, Year and Period.csv'

farmgate = pd.read_csv(farmgate, skiprows=2)
retail = pd.read_csv(retail, skiprows=2)

In [8]:
farmgate.head()

,Geolocation,Commodity,2020 January,2020 February,2020 March,2020 April,2020 May,2020 June,2020 July,2020 August,...,2024 March,2024 April,2024 May,2024 June,2024 July,2024 August,2024 September,2024 October,2024 November,2024 December
0,..National Capital Region (NCR),Tambis,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,..National Capital Region (NCR),Atis [Sugarapple],..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,..National Capital Region (NCR),Avocado,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,..National Capital Region (NCR),"Banana Bungulan, green",..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,..National Capital Region (NCR),Banana Cavendish,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [9]:
farmgate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Geolocation     1003 non-null   object
 1   Commodity       1003 non-null   object
 2   2020 January    1003 non-null   object
 3   2020 February   1003 non-null   object
 4   2020 March      1003 non-null   object
 5   2020 April      1003 non-null   object
 6   2020 May        1003 non-null   object
 7   2020 June       1003 non-null   object
 8   2020 July       1003 non-null   object
 9   2020 August     1003 non-null   object
 10  2020 September  1003 non-null   object
 11  2020 October    1003 non-null   object
 12  2020 November   1003 non-null   object
 13  2020 December   1003 non-null   object
 14  2021 January    1003 non-null   object
 15  2021 February   1003 non-null   object
 16  2021 March      1003 non-null   object
 17  2021 April      1003 non-null   object
 18  2021 May        1003 non-null   object
 19  2021 June       1003 non-null   object
 20  2021 July       1003 non-null   object
 21  2021 August     1003 non-null   object
 22  2021 September  1003 non-null   object
 23  2021 October    1003 non-null   object
 24  2021 November   1003 non-null   object
 25  2021 December   1003 non-null   object
 26  2022 January    1003 non-null   object
 27  2022 February   1003 non-null   object
 28  2022 March      1003 non-null   object
 29  2022 April      1003 non-null   object
 30  2022 May        1003 non-null   object
 31  2022 June       1003 non-null   object
 32  2022 July       1003 non-null   object
 33  2022 August     1003 non-null   object
 34  2022 September  1003 non-null   object
 35  2022 October    1003 non-null   object
 36  2022 November   1003 non-null   object
 37  2022 December   1003 non-null   object
 38  2023 January    1003 non-null   object
 39  2023 February   1003 non-null   object
 40  2023 March      1003 non-null   object
 41  2023 April      1003 non-null   object
 42  2023 May        1003 non-null   object
 43  2023 June       1003 non-null   object
 44  2023 July       1003 non-null   object
 45  2023 August     1003 non-null   object
 46  2023 September  1003 non-null   object
 47  2023 October    1003 non-null   object
 48  2023 November   1003 non-null   object
 49  2023 December   1003 non-null   object
 50  2024 January    1003 non-null   object
 51  2024 February   1003 non-null   object
 52  2024 March      1003 non-null   object
 53  2024 April      1003 non-null   object
 54  2024 May        1003 non-null   object
 55  2024 June       1003 non-null   object
 56  2024 July       1003 non-null   object
 57  2024 August     1003 non-null   object
 58  2024 September  1003 non-null   object
 59  2024 October    1003 non-null   object
 60  2024 November   1003 non-null   object
 61  2024 December   1003 non-null   object
dtypes: object(62)
memory usage: 486.0+ KB

In [10]:
farmgate.describe()

,Geolocation,Commodity,2020 January,2020 February,2020 March,2020 April,2020 May,2020 June,2020 July,2020 August,...,2024 March,2024 April,2024 May,2024 June,2024 July,2024 August,2024 September,2024 October,2024 November,2024 December
count,1003,1003,1003,1003,1003,1003,1003,1003,1003,1003,...,1003,1003,1003,1003,1003,1003,1003,1003,1003,1003
unique,17,59,151,149,156,155,167,161,155,169,...,264,272,295,270,293,307,295,1,1,1
top,..National Capital Region (NCR),Tambis,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
freq,59,17,850,852,844,842,834,839,844,828,...,602,535,529,534,548,541,548,1003,1003,1003

In [11]:
farmgate['2020 April'].unique()

array(['..', '23.28', '35.29', '19.76', '16.62', '27.46', '20.78',
       '20.63', '22.86', '34.49', '24.60', '31.54', '57.11', '42.63',
       '6.97', '10.71', '13.75', '26.82', '20.66', '11.88', '35.00',
       '22.17', '9.84', '14.81', '22.47', '10.15', '12.92', '38.45',
       '30.34', '21.23', '37.69', '46.15', '39.19', '15.16', '14.83',
       '8.47', '31.31', '10.07', '33.82', '25.98', '16.06', '38.64',
       '19.24', '14.57', '64.09', '10.10', '46.49', '15.42', '18.75',
       '20.65', '17.57', '47.09', '33.10', '29.35', '21.46', '46.31',
       '17.46', '50.25', '9.32', '50.98', '15.62', '22.91', '20.32',
       '17.82', '30.63', '21.91', '60.03', '14.45', '7.58', '21.32',
       '37.53', '25.04', '19.52', '28.71', '56.56', '23.37', '24.21',
       '16.73', '8.38', '14.89', '14.33', '38.66', '21.34', '15.89',
       '29.96', '57.96', '20.92', '12.32', '28.18', '16.87', '49.07',
       '11.27', '30.48', '17.44', '24.81', '13.04', '13.16', '28.23',
       '38.53', '15.28', '15.68', '25.32', '9.64', '10.36', '31.10',
       '37.18', '15.56', '11.58', '13.70', '11.86', '32.07', '12.76',
       '11.31', '24.49', '35.38', '33.48', '18.08', '18.51', '38.58',
       '34.41', '11.76', '9.98', '19.42', '32.09', '3.27', '16.42',
       '4.64', '24.63', '8.70', '30.08', '15.02', '12.52', '28.16',
       '45.00', '23.44', '24.74', '39.29', '8.83', '10.73', '13.24',
       '21.27', '24.85', '13.00', '22.13', '20.21', '20.95', '14.97',
       '22.77', '16.56', '25.20', '14.93', '24.68', '20.50', '12.08',
       '11.24'], dtype=object)

In [13]:
def changeToNull(x):
    if x == '..':
        return np.nan
    return x

for i in farmgate.columns:
    farmgate[i] = farmgate[i].apply(changeToNull)

In [14]:
farmgate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Geolocation     1003 non-null   object
 1   Commodity       1003 non-null   object
 2   2020 January    153 non-null    object
 3   2020 February   151 non-null    object
 4   2020 March      159 non-null    object
 5   2020 April      161 non-null    object
 6   2020 May        169 non-null    object
 7   2020 June       164 non-null    object
 8   2020 July       159 non-null    object
 9   2020 August     175 non-null    object
 10  2020 September  169 non-null    object
 11  2020 October    166 non-null    object
 12  2020 November   156 non-null    object
 13  2020 December   151 non-null    object
 14  2021 January    154 non-null    object
 15  2021 February   156 non-null    object
 16  2021 March      167 non-null    object
 17  2021 April      179 non-null    object
 18  2021 May        180 non-null    object
 19  2021 June       175 non-null    object
 20  2021 July       181 non-null    object
 21  2021 August     178 non-null    object
 22  2021 September  178 non-null    object
 23  2021 October    173 non-null    object
 24  2021 November   166 non-null    object
 25  2021 December   158 non-null    object
 26  2022 January    174 non-null    object
 27  2022 February   169 non-null    object
 28  2022 March      172 non-null    object
 29  2022 April      181 non-null    object
 30  2022 May        182 non-null    object
 31  2022 June       183 non-null    object
 32  2022 July       180 non-null    object
 33  2022 August     185 non-null    object
 34  2022 September  177 non-null    object
 35  2022 October    176 non-null    object
 36  2022 November   174 non-null    object
 37  2022 December   169 non-null    object
 38  2023 January    186 non-null    object
 39  2023 February   188 non-null    object
 40  2023 March      193 non-null    object
 41  2023 April      189 non-null    object
 42  2023 May        196 non-null    object
 43  2023 June       194 non-null    object
 44  2023 July       206 non-null    object
 45  2023 August     205 non-null    object
 46  2023 September  203 non-null    object
 47  2023 October    196 non-null    object
 48  2023 November   187 non-null    object
 49  2023 December   176 non-null    object
 50  2024 January    421 non-null    object
 51  2024 February   403 non-null    object
 52  2024 March      401 non-null    object
 53  2024 April      468 non-null    object
 54  2024 May        474 non-null    object
 55  2024 June       469 non-null    object
 56  2024 July       455 non-null    object
 57  2024 August     462 non-null    object
 58  2024 September  455 non-null    object
 59  2024 October    0 non-null      float64
 60  2024 November   0 non-null      float64
 61  2024 December   0 non-null      float64
dtypes: float64(3), object(59)
memory usage: 486.0+ KB

In [15]:
farmgate.dropna(axis=0, how='any', inplace=True)

In [16]:
farmgate.head()

Empty DataFrame
Columns: [Geolocation, Commodity, 2020 January, 2020 February, 2020 March, 2020 April, 2020 May, 2020 June, 2020 July, 2020 August, 2020 September, 2020 October, 2020 November, 2020 December, 2021 January, 2021 February, 2021 March, 2021 April, 2021 May, 2021 June, 2021 July, 2021 August, 2021 September, 2021 October, 2021 November, 2021 December, 2022 January, 2022 February, 2022 March, 2022 April, 2022 May, 2022 June, 2022 July, 2022 August, 2022 September, 2022 October, 2022 November, 2022 December, 2023 January, 2023 February, 2023 March, 2023 April, 2023 May, 2023 June, 2023 July, 2023 August, 2023 September, 2023 October, 2023 November, 2023 December, 2024 January, 2024 February, 2024 March, 2024 April, 2024 May, 2024 June, 2024 July, 2024 August, 2024 September, 2024 October, 2024 November, 2024 December]
Index: []

[0 rows x 62 columns]

## Retail

In [17]:
retail.head()

,Geolocation,Commodity,2020 January,2020 February,2020 March,2020 April,2020 May,2020 June,2020 July,2020 August,...,2024 March,2024 April,2024 May,2024 June,2024 July,2024 August,2024 September,2024 October,2024 November,2024 December
0,..National Capital Region (NCR),"FRESH FRUIT, AVOCADO, 1 KG",179.77,175.38,171.47,173.40,184.48,150.72,118.03,125.39,...,225.37,209.01,207.30,197.40,175.96,190.87,231.21,261.33,276.34,294.08
1,..National Capital Region (NCR),"FRESH FRUIT, BANANA, CARDAVA, MEDIUM, 1 KG",..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,..National Capital Region (NCR),"FRESH FRUIT, BANANA, LAKATAN, MEDIUM, 1 KG",71.16,71.92,78.77,93.28,90.89,89.28,87.61,87.32,...,101.67,102.16,101.57,101.04,102.13,103.37,103.74,103.83,104.97,105.07
3,..National Capital Region (NCR),"FRESH FRUIT, BANANA, LATUNDAN, MEDIUM, 1 KG",..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,..National Capital Region (NCR),"FRESH FRUIT, BANANA, SABA, MEDIUM, 1 KG",..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [18]:
for i in retail.columns:
    retail[i] = retail[i].apply(changeToNull)

In [19]:
retail.dropna(axis=0, how='any', inplace=True)

In [20]:
retail.head()

,Geolocation,Commodity,2020 January,2020 February,2020 March,2020 April,2020 May,2020 June,2020 July,2020 August,...,2024 March,2024 April,2024 May,2024 June,2024 July,2024 August,2024 September,2024 October,2024 November,2024 December
0,..National Capital Region (NCR),"FRESH FRUIT, AVOCADO, 1 KG",179.77,175.38,171.47,173.40,184.48,150.72,118.03,125.39,...,225.37,209.01,207.30,197.40,175.96,190.87,231.21,261.33,276.34,294.08
2,..National Capital Region (NCR),"FRESH FRUIT, BANANA, LAKATAN, MEDIUM, 1 KG",71.16,71.92,78.77,93.28,90.89,89.28,87.61,87.32,...,101.67,102.16,101.57,101.04,102.13,103.37,103.74,103.83,104.97,105.07
8,..National Capital Region (NCR),"FRESH FRUIT, MANGO, KALABAW, RIPE, MEDIUM, 1 KG",157.43,165.38,173.73,168.10,148.17,135.39,141.34,147.08,...,162.36,146.28,134.39,126.69,151.57,185.50,250.28,234.62,202.16,215.43
20,..National Capital Region (NCR),"FRESH FRUIT, PINEAPPLE, PINYA, MEDIUM, 1 KG",69.34,66.46,61.97,63.59,64.09,64.99,65.45,66.61,...,83.76,81.30,81.82,83.14,83.35,84.79,87.40,89.13,92.18,92.60
21,..National Capital Region (NCR),"FRESH FRUIT, GRAPES, 1 KG",243.70,269.47,304.84,296.74,288.89,281.74,278.11,274.89,...,287.97,292.31,287.86,284.32,280.76,276.16,267.32,259.26,256.10,252.69

In [21]:
retail['Commodity'].unique()

array(['FRESH FRUIT, AVOCADO, 1 KG',
       'FRESH FRUIT, BANANA, LAKATAN, MEDIUM, 1 KG',
       'FRESH FRUIT, MANGO, KALABAW, RIPE, MEDIUM, 1 KG',
       'FRESH FRUIT, PINEAPPLE, PINYA, MEDIUM, 1 KG',
       'FRESH FRUIT, GRAPES, 1 KG', 'CALAMANSI, LOOSE, 1 KG',
       'FRESH FRUIT, BANANA, LATUNDAN, MEDIUM, 1 KG',
       'FRESH FRUIT, BANANA, SABA, MEDIUM, 1 KG',
       'FRESH FRUIT, MANGO, NATIVE, RIPE, MEDIUM, 1 KG',
       'FRESH FRUIT, MANGO, RIPE, MEDIUM, 1 KG',
       'FRESH FRUIT, PAPAYA, MEDIUM, 1 KG',
       'FRESH FRUIT, PAPAYA, NATIVE, MEDIUM, 1 KG',
       'FRESH FRUIT, PINEAPPLE, PINYA, HAWAIIAN, MEDIUM, 1 KG',
       'FRESH FRUIT, ORANGE, DALANDAN, MEDIUM, 1 KG',
       'FRESH FRUIT, ORANGE, SINTONES, MEDIUM, 1 KG',
       'FRESH FRUIT, WATERMELON, PAKWAN, MEDIUM, 1 KG',
       'FRESH FRUIT, MANGO, NATIVE, MEDIUM, 1 KG',
       'FRESH FRUIT, PAPAYA, NATIVE, RIPE, MEDIUM, 1 KG',
       'FRESH FRUIT, PINEAPPLE, PINYA, FORMOSA, MEDIUM, 1 KG',
       'FRESH FRUIT, GRAPES, SEEDLESS, 1 KG',
       'FRESH FRUIT, RAMBUTAN, 1 KG', 'FRESH FRUIT, GUAVA, BAYABAS, 1 KG',
       'FRESH FRUIT, GRAPES, WITH SEEDS, 1 KG',
       'FRESH FRUIT, GUYABANO, 1 KG', 'FRESH FRUIT, LANZONES, 1 KG',
       'FRESH FRUIT, MANDARIN, DALANGHITA, MEDIUM, 1 KG',
       'FRESH FRUIT, MANGO, INDIAN, MEDIUM, 1 KG',
       'FRESH FRUIT, MANGO, PIKO, RIPE, MEDIUM, 1 KG',
       'FRESH FRUIT, PAPAYA, TAGALOG, MEDIUM, 1 KG',
       'FRESH FRUIT, JACKFRUIT, LANGKA, 1 KG',
       'FRESH FRUIT, CANTALOUPE, MELON, MEDIUM, 1 KG',
       'FRESH FRUIT, APPLE, RED DELICIOUS, MEDIUM, 1 KG',
       'FRESH FRUIT, MANGO, CEBU, RIPE, MEDIUM, 1 KG',
       'FRESH FRUIT, POMELO, MEDIUM, 1 KG',
       'FRESH FRUIT, PAPAYA, SOLO, MEDIUM, 1 KG',
       'FRESH FRUIT, BANANA, CARDAVA, MEDIUM, 1 KG'], dtype=object)